/*
base-line: 16px

*/

html {
  font-size: 16px;
  background-color: #f0f0f0;
  font: 16px Arial;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover, a:active{
  color: #fff;
  text-decoration: underline;
}

a:visited{
  color: #fff;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  margin: 0;
  min-width: 320px;
}

body::-webkit-scrollbar {
  display: none;
}

.page-component{
  padding-top: 3rem;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
}


input, textarea {
  font-size: 14px;
  padding: 10px;
}

.app-header {
  background-color: #6F001B;
  color: #F0F0F0;
  font-family: 'Norican', cursive;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 20px 20px 20px 14px;
  vertical-align: middle;
}

