html {
  font-size: 16px; /* baseline */
  background-color: #f0f0f0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  margin: 0;
  min-width: 320px;
  color: #53606a;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover, a:active{
  color: #fff;
  text-decoration: underline;
}

a:visited{
  color: #fff;
  text-decoration: none;
}

.page-component{
  padding-top: 3rem;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
}