html {
  font-size: 16px; /* baseline */
  background-color: #f0f0f0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  margin: 0;
  min-width: 320px;
  color: #53606a;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover, a:active{
  color: #fff;
  text-decoration: underline;
}

a:visited{
  color: #fff;
  text-decoration: none;
}

.page-component{
  padding-top: 2rem;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
}

.page-title{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.25rem 0 0.25rem 0;
}
#contact-form{
  height: 120vh;
}

/* global-nav */
  #global-nav {
    background-color: rgba(0,0,0,0.4);
    padding-top: 0;
    position: fixed;
  }

  #global-nav ul {
    list-style: none none outside;
    margin: 0;
    padding: 0.6rem 0 0.6rem 0;
    width: 100%;
  }

  #global-nav li {
    display:inline-block;
    margin: 0;
    padding: 0;
    width: 25%;
  }

  #global-nav .global-link {
    color: #fff;
    display: inline-block;
    font-size: 0.875rem;
    height: 1rem;
    line-height: 0.875rem;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  #global-nav .global-link:hover, #global-nav .global-link:active {
    background-color: rgba(255,255,255,0.5);
  }





#home{
  background: url("images/home.jpg") center center / cover no-repeat fixed;
  height: 100vh;
  min-height: 320px;
  padding-top: 0;
}

#home-contents {
  bottom: 3rem;
  position: absolute;
  padding-right: 5%;
}

#home-contents header {

}

#home h1, #home h2, #home p{
  color: #fff;
}

#home h1{
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0.25rem 0 1.25rem 0;
}

#home h2{
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 0.875rem;
  margin: 0;
  padding: 0.0625rem 0 0.0625rem 0;
}

#home #lead{
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0 0 2rem 0;
  padding: 0.125rem 0 0.125rem 0;
}




#home-menu ul{
  list-style: none none outside;
  margin: 0;
  padding: 0;
}

#home-menu ul li{
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.homemenu-link {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
}

.homemenu-link:hover, .homemenu-link:active {
  text-decoration: underline;
}

/* #biography */

  #biography-list dt {
    border-top: 1px solid #000;
    font-size: 0.875rem;
    margin:0;
    padding: 1rem 0 0 0;
  }

  #biography-list dd {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #biography-list dd:last-child {
    border-bottom: 1px solid #000;
  }
  
  .biography-note {
    font-size:0.75rem;
    line-height: 1rem;
    padding-left: 1rem;
  }
/* /#biography */
/* #service */
  #services #service-img {
    width: 100%;
  }

  #services p {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  #service-list dt {
    border-top: 1px solid #000;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 0.875rem;
    margin:0;
    padding: 1rem 0 0.125rem 0;
  }

  #service-list dd {
    font-size: 0.875rem;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #service-list dd:last-child {
    border-bottom: 1px solid #000;
  }
  #service-list #service-note {
    font-size: 0.625rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }
  
  #service-list .detail {
    font-size: 0.75rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }
  
  .programming{
    text-decoration: line-through;
  }
/* /#service */

/* #skills */
  #skill-info{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none none outside;
    margin: 0;
    padding: 1rem 0 0 0;
  }
    
  .skill-group {
    padding: 0 0 1rem 0;
  }

  .skill-group li {
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.1rem 0.2rem 0.1rem 0;
    padding: 0.1rem;
  }
  
  .skill-title {
    background-color: rgba(0,0,0,0.15);
  }
  
  .skill-etc {
    
  }
/* /#skills */
  
  
  




