
.button-main, .button-sub {
  border: 1px solid #53606a;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin: 0.375rem;
  padding: 0.6875rem;
  width: 30%;
  min-width: 5rem;
}

.button-main {
  background-color: #53606a;
  color: #fff;
}

.button-main:hover, .button-main:active, .button-sub:hover, .button-sub:active  {
  background-color: #92999f;
  color: #53606a;
}



