
#home{
  background: url("images/home.jpg") center center / cover no-repeat fixed;
  height: 100vh;
  margin-bottom: 5rem;
  min-height: 320px;
  padding-top: 0;
}

#home-contents {
  bottom: 3rem;
  position: absolute;
  padding-right: 5%;
}

#home-contents header {

}

#home h1, #home h2, #home p{
  color: #fff;
}

#home h1{
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0.25rem 0 1.25rem 0;
}

#home h2{
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 0.875rem;
  margin: 0;
  padding: 0.0625rem 0 0.0625rem 0;
}

#home #lead{
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin: 0 0 2rem 0;
  padding: 0.125rem 0 0.125rem 0;
}




