#home-menu ul{
  list-style: none none outside;
  margin: 0;
  padding: 0;
}

#home-menu ul li{
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0 0 1rem 0;
}

.homemenu-link {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
}

.homemenu-link:hover, .homemenu-link:active {
  text-decoration: underline;
}

