/* common */
  .profile-section {
    margin-bottom: 4rem;
  }


/* #biography */
  #biography-list dt {
    border-top: 1px solid #000;
    font-size: 0.875rem;
    margin:0;
    padding: 1rem 0 0 0;
  }

  #biography-list dd {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #biography-list dd:last-child {
    border-bottom: 1px solid #000;
  }
/* /#biography */


/* #service */
  #services #service-img {
    width: 100%;
  }

  #services p {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  #service-list dt {
    border-top: 1px solid #000;
    font-size: 1rem;
    font-weight: bold;
    margin:0;
    padding: 1rem 0 0 0;
  }

  #service-list dd {
    font-size: 0.875rem;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #service-list dd:last-child {
    border-bottom: 1px solid #000;
  }
  #service-list #pm-note {
    font-size: 0.625rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }
  
  #service-list .detail {
    font-size: 0.75rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }
  
  .programming{
    text-decoration: line-through;
  }
/* /#service */

/* #skills */
  #skills ul {
    list-style: none none outside;
    margin:0;
    padding:0;
  }
  
  .skill-group {
    background-color: #f00;
    padding-left: 100px;
    padding-top: 500px;
    padding-bottom: 1rem;
    border-top: 1px solid #000;

  }
  
  .skill-group li {
    display: inline-block;
    font-size: 0.8125rem;
    margin: 0.1rem 0.2rem 0.1rem 0;
    padding: 0.1rem;
  }
  
  .skill-title {
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .skill-etc {
    
  }
/* /#skills */
  
  
  




