/* #service */
  #services #service-img {
    width: 100%;
  }

  #service-description {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
  }

  #service-list dt {
    border-top: 1px solid #000;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 0.875rem;
    margin:0;
    padding: 1rem 0 0.125rem 0;
  }

  #service-list dd {
    font-size: 0.875rem;
    margin: 0;
    padding: 0 0 1rem 0;
  }

  #service-list dd:last-child {
    border-bottom: 1px solid #000;
  }

  .service-detail {
    font-size: 0.75rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }

  .service-note {
    font-size: 0.625rem;
    line-height: 1rem;
    margin:0;
    padding:0;
  }
  

  
  .programming{
    text-decoration: line-through;
  }
/* /#service */

@media all and (min-width:600px){
  #service-list dt, #service-list dd:last-child {
    border: none;
  }
  
  #service-list dd {
    padding-left: 5%;
  }
}



