/* #skills */
  #skill-info{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    list-style: none none outside;
    margin: 0;
    padding: 1rem 0 0 0;
  }
    
  .skill-group {
    padding: 0 0 1rem 0;
  }

  .skill-group li {
    display: inline-block;
    font-size: 0.75rem;
    margin: 0.1rem 0.2rem 0.1rem 0;
    padding: 0.1rem;
  }
  
  .skill-title {
    background-color: rgba(0,0,0,0.15);
  }
  
/* /#skills */
  
@media all and (min-width:600px){
  #skill-info {
    border: none;
  }
  
  #skill-info {
    padding: 0;
  }
}
